.card_prd {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(250px,1fr));
    grid-gap: 2rem;
}

.card_prd_item {
    border-radius: 1rem;
    cursor: pointer;
    transition: 0.2s;
}
.card_prd_item:hover {
    transform: scale(1.1);
}


.prd_img img {
    width: 100%;
    height: 150px;
    object-fit: cover;
}
.prd_detail {
    display: flex;
    justify-content: space-between;
    margin-top: 3rem;
}